@import url(./reset.css);

:root {
  /* font : style weight size/height familly  */
  --T-family: "Roboto";
  --T-size: 16px;
  --T-weight-bold: bold;
  --T-weight-Regular: normal;
  --T-height-auto: auto;

  --T-header-size: 16px;

  --T-mainTitle-size: 24px;
  --T-mainTitle-height: 39px;

  --T-subTitle-size: 18px;
  --T-subTitle-height: 29px;

  --T-footerNav-size: 16px;

  --T-footerContent-size: 14px;
  --T-footerContent-height: 23px;

  --T-menuIcon-size: 20px;
  --T-menuText-size: 14px;

  --T-sectionTitle-size: 32px;
  --T-magazine-size: 16px;

  --C-strong: #ff0606;
  --C-footerNav: #333;
  --C-footerDesc: #757575;
  --C-white: #fff;
  --C-appTitle: #c6431d;
  --C-appBody: #1b1b1b;
  --C-BG: rgba(245, 245, 220, 0.9);
  --C-lightgray: #ebebeb;

  --headerHeight: 70px;
}

/* layout */
/* css 완성후 section별 간격 주기 */

body {
  box-sizing: border-box;
  font-family: var(--T-family);
  font-size: var(--T-body);
  background-color: #fff;
}
header {
  width: 100%;
  /* height: 400px; */
}

section {
  /* width: 100%; */
}
.container {
  width: 90%;
}
.half {
  width: 50%;
  /* height: 100vh; */
}

header .container {
  /* width: 1720px; */

  /* height: 100%; */
}
.d-flex {
  display: flex;
}
.f-d-c {
  flex-direction: column;
}
.jc-sb {
  justify-content: space-between;
}
.jc-c {
  justify-content: center;
}
.ai-c {
  align-items: center;
}

.hidden {
  display: none;
}

/* typography */
.strong {
  color: var(--C-strong);
}
/* ---------------------------------------------------header */

header {
  background: linear-gradient(
    rgba(217, 217, 217, 0.2) var(--headerHeight),
    rgba(0, 0, 0, 1)
  );
  /* background-color: rgba(217, 217, 217, 0.2); */
  box-sizing: border-box;
  position: fixed;
  color: var(--C-white);
  z-index: 99;
  /* padding: 10px 0; */
  box-shadow: 5px 0 3px rgba(0, 0, 0, 1);
  transition: 0.3s;
}

header.scrollDown {
  /* color: var(--C-appBody); */
  color: #000;
  background: linear-gradient(
    var(--C-white) var(--headerHeight),
    rgba(245, 245, 220, 0.9)
  );

  /* background: rgba(245,245,220, 0.9); */
}
header.scrollDown .gnb .gnbTitle > a,
header.scrollDown .user_menu a {
  text-shadow: none;
}

header .container {
  /* align-items: start; */
  /* align-items: center; */
  /* height: 100%; */
}

header .container .gnb {
  gap: 50px;
  position: relative;
  /* height: 100%; */
  /* text-transform: uppercase; */
}
.gnb .gnbTitle {
  /* height: calc(100% + (10px * 2)); */
  text-transform: uppercase;
}

.gnb .gnbTitle > a {
  display: block;
  /* padding : 10px 0; */
  /* height: 60px; */
  font-size: var(--T-header-size);
  font-weight: var(--T-weight-bold);
  line-height: var(--headerHeight);
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}
.gnbMenu {
  position: absolute;
  left: 0;
  line-height: 25px;
}
.gnbMenu:after {
  content: "";
  position: absolute;
  top: 10%;
  left: calc(100% + 30px);
  width: 1px;
  height: 80%;
  background-color: #fff;
}

.gnbMenu .titleItem a {
  display: block;
  left: 0;
  right: 0;
  padding: 5px 0;
}
.titleItem ul {
  position: absolute;
  top: 10%;
  left: calc(100% + 50px);
  white-space: nowrap;
  padding-left: 50px;
}
.titleItem.active ul {
  display: block;
}
.gnbMenu h3 {
  padding-top: 16px;
  position: relative;
  font-weight: bold;
}
.gnbMenu h3:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 50%;
  height: 1px;
  background: #fff;
}

.gnbMenu li:hover {
  background-color: var(--C-footerDesc);
}
.gnbMenu li.nonehover:hover {
  background-color: transparent;
}

header.scrollDown .gnbMenu li:hover {
  background-color: var(--C-lightgray);
}

#logo {
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
}

#logo a {
  display: block;
  background: url("../images/logo_2021.svg") no-repeat;
  width: 40px;
  height: 40px;
  text-indent: -9999em;
}
header .container .user_menu {
  gap: 40px;
}
.user_menu a {
  padding-top: 15px;
  gap: 5px;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}
.user_menu a:hover {
  color: aqua;
}

.user_menu .menuicon {
  font-size: var(--T-menuIcon-size);
}
.user_menu div {
  font-size: var(--T-menuText-size);
}
.top-menu {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: var(--headerHeight);
}
header .search {
  display: flex;
  width: 0;
  height: 40px;
  overflow: hidden;
  transition: width 0.3s;
  position: absolute;
  top: 15px;
  right: 100%;
  border-radius: 10px;
}
header .search.active {
  width: 100%;
  height: 40px;
}
.top-menu .search .searchInput {
  width: 100%;
  border-radius: 10px;
}
.top-menu .searchBtn {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translateY(-50%);
  /* background-color: #c6431d; */
}
.top-menu .searchBtn.submit {
  color: #1b1b1b;
}
.top-menu .searchBtn.close {
  /* color: var(--C-white); */
  height: 50%;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  font-size: var(--T-header-size);
  left: 5px;
}
.top-menu .searchBtn.close:hover {
  background: var(--C-appTitle);
  color: var(--C-white);
}

.searchIcon.unvisible {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.headerCloseBtn {
  position: absolute;
  top: 100px;
  left: 80%;
  padding: 10px;
  background: var(--C-lightgray);
  border: 1px solid #000;
  border-radius: 5px;
  color: var(--C-appBody);
}

.headerCloseBtn:hover {
  background: var(--C-footerDesc);
  color: var(--C-white);
}

/* ---------------------------------------------------footer */
footer {
  margin: 24px 0 48px;
}
footer .f_txt .footerTitle {
  font-size: var(--T-footerNav-size);
  color: var(--C-footerNav);
  font-weight: var(--T-weight-bold);
  gap: 20px;
}
footer .f_txt > div,
footer .f_txt > p {
  font-size: var(--T-footerContent-size);
  line-height: var(--T-footerContent-height);
  color: var(--C-footerDesc);
  margin-top: 27px;
}

footer .f-l-p span {
  font-weight: var(--T-weight-bold);
}

footer .f-r-p {
  margin-left: 40px;
  gap: 15px;
}
footer .f-r-p h3 {
  font-weight: var(--T-weight-bold);
}

footer .f-r-p h3 a {
  color: var(--C-footerNav);
  font-weight: normal;
  /* background-color: var(); */
  padding: 0 10px;
  margin-left: 10px;
  border: 1px solid;
}
footer .f-r-p h3 a:hover {
  color: var(--C-white);
  background-color: var(--C-footerDesc);
  text-decoration: underline;
}

footer .f-r-p h3 a:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 1px;
  background: url("../images/bullet_f_detail.png") no-repeat left top;
}

footer .sns {
  margin-top: 27px;
  gap: 25px;
  font-size: 36px;
  /* 툴팁만들기 */
}

.navigator {
  position: fixed;
  width: 60px;
  height: 200px;
  bottom: 50px;
  right: 150px;
}

.backToTop,
.cart {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  background-color: #444;
  border-radius: 50%;
  color: #fff;
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
  transition: 0.5s;
}
.backToTop.active {
  opacity: 0.9;
  /* visibility: visible; */
  pointer-events: auto;
}

.navigator.active .cart {
  bottom: 80px;
  opacity: 0.9;
  pointer-events: auto;
}
.tooltip {
  position: relative;
}

.tooltip .tip {
  position: absolute;
  padding: 1em;
  font-size: var(--T-footerContent-size);
  font-weight: normal;
  background: #34495e;
  border-radius: 1em;
  color: #fff;
  white-space: nowrap;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0px;
  opacity: 0;
  transition: 0.4s;
}
.tooltip:hover .tip {
  opacity: 1;
  /* margin-left: 20px; */
}

.tooltip .tip:after {
  content: "";
  position: absolute;
  /* width: 0px;
  height: 0px; */
  border-width: 6px 8px;
  border-style: solid;
  border-color: #34495e transparent transparent transparent;
  /* background-color: red; */
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.login .modalBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: var(--C-white);
  text-align: center;
}
.modalBody h2 {
  font-size: calc(var(--T-sectionTitle-size) * 1.5);
  text-transform: uppercase;
}

.login .modalBody .loginform {
}

.loginform label {
  display: inline-block;
}

.loginform input {
  display: inline-block;
}
