@import url(./reset.css);

:root {
  /* font : style weight size/height familly  */
  --T-family: "Roboto";
  --T-size: 16px;
  --T-weight-bold: bold;
  --T-weight-Regular: normal;
  --T-height-auto: auto;

  --T-header-size: 16px;

  --T-mainTitle-size: 24px;
  --T-mainTitle-height: 39px;

  --T-subTitle-size: 18px;
  --T-subTitle-height: 29px;

  --T-footerNav-size: 16px;

  --T-footerContent-size: 14px;
  --T-footerContent-height: 23px;

  --T-menuIcon-size: 20px;
  --T-menuText-size: 14px;

  --T-sectionTitle-size: 32px;
  --T-magazine-size: 16px;

  --C-strong: #ff0606;
  --C-footerNav: #333;
  --C-footerDesc: #757575;
  --C-white: #fff;
  --C-appTitle: #c6431d;
  --C-appBody: #1b1b1b;
}

/* layout */
/* css 완성후 section별 간격 주기 */

body {
  box-sizing: border-box;
  font-family: var(--T-family);
  font-size: var(--T-body);
}
header {
  width: 100%;
  /* height: 400px; */
}

section {
  /* width: 100%; */
}
.container {
  width: 90%;
}
.half {
  width: 50%;
  /* height: 100vh; */
}

header .container {
  /* width: 1720px; */

  /* height: 100%; */
}
.d-flex {
  display: flex;
}
.f-d-c {
  flex-direction: column;
}
.jc-sb {
  justify-content: space-between;
}
.jc-c {
  justify-content: center;
}
.ai-c {
  align-items: center;
}

.hidden {
  display: none;
}

/* typography */
.strong {
  color: var(--C-strong);
}
/* ---------------------------------------------------header */

header {
  background: linear-gradient(rgba(217, 217, 217, 0.2) 70px,  rgba(0, 0, 0, 1) );
  /* background-color: rgba(217, 217, 217, 0.2); */
  box-sizing: border-box;
  position: fixed;
  color: var(--C-white);
  z-index: 99;
  /* padding: 10px 0; */
  box-shadow: 5px 0 3px rgba(0, 0, 0, 1);
  transition: 0.3s;
}

header.scrollDown {
  /* color: var(--C-appBody); */
  color:#000;
  background: linear-gradient(var(--C-white) 70px,  rgba(245,245,220, 0.9) );

  /* background: rgba(245,245,220, 0.9); */
}
header.scrollDown .gnb .gnbTitle > a,
header.scrollDown .user_menu a{
  text-shadow: none;
}

header .container {
  /* align-items: start; */
  /* align-items: center; */
  /* height: 100%; */
}

header .container .gnb {
  gap: 50px;
  position: relative;
  /* height: 100%; */
  /* text-transform: uppercase; */
}
.gnb .gnbTitle {
  /* height: calc(100% + (10px * 2)); */
  text-transform: uppercase;
}

.gnb .gnbTitle > a {
  display: block;
  /* padding : 10px 0; */
  /* height: 60px; */
  font-size: var(--T-header-size);
  font-weight: var(--T-weight-bold);
  line-height: 70px;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}
.gnbMenu {
  position: absolute;
  left: 0;
  line-height: 25px;
}
.gnbMenu:after {
  content: "";
  position: absolute;
  top: 10%;
  left: calc(100% + 30px);
  width: 1px;
  height: 80%;
  background-color: #fff;
}

.gnbMenu .titleItem a {
  display: block;
  left: 0;
  right: 0;
  padding: 5px 0;
}
.titleItem ul {
  position: absolute;
  top: 10%;
  left: calc(100% + 50px);
  white-space: nowrap;
  padding-left: 50px;
}
.titleItem.active ul {
  display: block;
}
.gnbMenu h3 {
  padding-top: 16px;
  position: relative;
  font-weight: bold;
}
.gnbMenu h3:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 50%;
  height: 1px;
  background: #fff;
}

.gnbMenu li:hover {
  background-color: var(--C-footerDesc);
  
}
header.scrollDown .gnbMenu li:hover{
  background-color: var(--C-white);
}


#logo {
  padding-top: 15px;
}

#logo a {
  display: block;
  background: url("../images/logo_2021.svg") no-repeat;
  width: 40px;
  height: 40px;
  text-indent: -9999em;
}
header .container .user_menu {
  gap: 40px;
}
.user_menu a {
  padding-top: 15px;
  gap: 5px;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}
.user_menu a:hover {
  color: aqua;
}

.user_menu .menuicon {
  font-size: var(--T-menuIcon-size);
}
.user_menu div {
  font-size: var(--T-menuText-size);
}

.user_menu .search {
  height: 70px;
  display: flex;
}

.user_menu .searchBtn {
  
}
.headerCloseBtn {
  position: absolute;
  top:100px;
  left:80%;
  padding: 10px;
  background-color: #ebebeb;
  border: 1px solid #000;
  border-radius: 5px;
  color: var(--C-appBody)
}
.headerCloseBtn:hover {
  background-color: var(--C-footerDesc);
  color: var(--C-white);
}

/* ---------------------------------------------------footer */
footer {
  margin-bottom: 48px;
}
footer .f_txt .footerTitle {
  font-size: var(--T-footerNav-size);
  color: var(--C-footerNav);
  font-weight: var(--T-weight-bold);
  gap: 20px;
}
footer .f_txt > div,
footer .f_txt > p {
  font-size: var(--T-footerContent-size);
  line-height: var(--T-footerContent-height);
  color: var(--C-footerDesc);
  margin-top: 27px;
}

footer .f-l-p span {
  font-weight: var(--T-weight-bold);
}

footer .f-r-p {
  margin-left: 40px;
  gap: 15px;
}
footer .f-r-p h3 {
  font-weight: var(--T-weight-bold);
}

footer .f-r-p h3 a {
  color: var(--C-footerNav);
  font-weight: normal;
  /* background-color: var(); */
  padding: 0 10px;
  margin-left: 10px;
  border: 1px solid;
}
footer .f-r-p h3 a:hover {
  color: var(--C-white);
  background-color: var(--C-footerDesc);
  text-decoration: underline;
}

footer .f-r-p h3 a:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 1px;
  background: url("../images/bullet_f_detail.png") no-repeat left top;
}

footer .sns {
  margin-top: 27px;
  gap: 25px;
  font-size: 36px;
  /* 툴팁만들기 */
}
