@import url(./common.css);

/* 폰트사이즈는 나중에 반응형으로 수정하기 */

/* main */

/* -------------------video section */

main section {
  margin-bottom: 100px;
}
.main_items,
.slideWrapper {
  margin-bottom: 0;
}

.videoContainer {
  position: relative;
  
}
.videoTitle{
  position: absolute;
  top:50%;
  color:var(--C-appTitle)
  /* left: 50%; */


}

.videoContainer:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.videoContainer video {
  width: 100%;
  /* height: 100vh; */
  /* margin: auto 0; */
  object-fit: cover;
}

/* ------------main_items section */
.titleImage img {
  width: 100%;
  /* height: 100vh; */
  object-fit: contain;
}
.itemsWrapper {
  justify-content: center;
  padding-left: 100px;
  box-sizing: border-box;
  /* 가운데는 아니지만 왼쪽에서 약간 떨어뜨리고싶은데 padding-left를 주는 것이 과연 정답일까? */
  /* align-items: center; */
  /* overflow: hidden; */
}
.itemsWrapper h2 {
  font-size: var(--T-mainTitle-size);
  line-height: var(--T-mainTitle-height);
  text-transform: uppercase;
  transition: 0.8s ease-in-out;
}
.itemsWrapper h3 {
  margin: 10px 0 30px 0;
  font-size: var(--T-sectionTitle-size);
  font-weight: var(--T-weight-bold);
  transition: 0.8s 0.3s ease-in-out;
}

.itemsWrapper .items {
  width: calc(4 / 7 * 100%);
  flex-wrap: wrap;
  gap: 5%;
  transition: 0.8s 0.6s ease-in-out;
}

.itemsWrapper h2,
.itemsWrapper h3,
.itemsWrapper .items {
  transform: translateY(100px);
  opacity: 0;
  visibility: hidden;
}

.itemsWrapper .items li {
  opacity: 0.7;
  width: 30%;
  margin-bottom: 5%;
  font-size: 80%;
}
.itemsWrapper .items li:hover {
  opacity: 1;
}

.itemsWrapper .items a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemsWrapper .items img {
  width: 100%;
  /* height: auto; */
}
/* -----------------------slide section */

.slideWrapper {
  width: 100%;
  position: relative;
  padding: 100px 0;
  background: rgba(0, 0, 1) url("../images/slideBG.jpg") no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
/* .slideWrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
} */

.slideContainer {
  transform: translateX(0);
  transition: 0.5s ease-out;
  display: flex;
}
.slideContainer > li {
  filter: brightness(60%);
  flex-shrink: 0;
  transition: 0.3s;
}
.slideContainer > li:hover {
  filter: brightness(100%);
}
.slideContainer li a {
  /* display: block; */
}
.slideContainer > li img {
  width: 100%;
  border-radius: 5%;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
}
.slideControl {
}
.slideControl div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slideControl .nextBtn {
  right: 0;
}

.slideControl span {
  font-size: calc(var(--T-mainTitle-size) * 3);
  font-weight: 100;
  color: var(--C-white);
  text-shadow: 2px 2px 3px #000;
}
.slideControl span:hover {
  cursor: pointer;
  color: var(--C-footerDesc);
}
.pager {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  color: #fff;
  gap: 15px;
  margin-top: -15px;
}

.pager a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: var(--C-BG);
  border-radius: 50%;
  text-indent: -9999em;
}
.pager a:hover {
  background-color: var(--C-appTitle);
}

/* ----------------------------secondary_items section */
.secondary_items {
  position: relative;
  width: 100%;

  /* overflow: hidden; */
}
.secondary_items .l-items,
.secondary_items .r-items {
  height: 100vh;
  position: relative;
  transition: .3s
}
.secondary_items .l-items:hover,
.secondary_items .r-items:hover {
  filter:brightness(50%)
}

.secondary_items li {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  position: absolute;
}

.secondary_items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.secondary_items li.active {
  opacity: 1;
  visibility: visible;
}

.secondary_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--C-white);
}
.secondary_title h2 {
  font-size: var(--T-sectionTitle-size);
  line-height: calc(var(--T-sectionTitle-size) * 1.618);
  text-transform: uppercase;
}

.secondary_title p {
  font-family: "Roboto Serif";
  font-size: 64px;
  text-transform: capitalize;
}

/* -------------------- magazine section */

.magazine .m-list {
  flex-wrap: wrap;
  /* gap: 5%; */
}
.magazine .m-list li {
  margin: 0 5%;
  width: 40%;
  height: auto;
}
.magazine .m-list figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.magazine .m-list figcaption {
  display: inline-block;
}

.magazine .m-list img {
  width: 100%;
}

.magazine .m-cover {
  width: calc(0.5 * 0.95 * 100%);
  text-align: center;
}

.magazine .m-cover h2 img {
  width: 30%;
}

.magazine .m-cover > img {
  width: 100%;
  margin-top: 3%;
}
.magazine .m-cover h3 {
  /* font-family: "Libre Baskerville"; */
  font-size: 26px;
  line-height: 42px;
  text-transform: capitalize;
}
.m-cover p {
  font-size: var(--T-magazine-size);
}

/* --------------------app section */
.app {
  margin: 0 auto 50px;
}

.app .textContainer {
  color: var(--C-appTitle);
  /* width: 30%; */
  /* transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: 2s; */
}
.app .textContainer h2 {
  font-size: 73px;
  font-weight: var(--T-weight-bold);
  text-transform: capitalize;
  margin-bottom: 30px;
  transition: 1s ease-in-out;
}
.app .textContainer h3 {
  width: 410px;
  font-size: 26px;
  font-weight: var(--T-weight-bold);
  line-height: 42px;
  transition: 1.2s ease-in-out;
}

.app .t-Contents img {
  max-width: 557px;
  /* width: 557px; */
  width: 50%;
  /* margin-left: 93px; */
}

.app .b-Contents {
  margin: 30px 0 50px;
  gap: 50px;
  text-align: center;
}
.app .b-Contents img {
  width: 100%;
}

.app .b-Contents h4 {
  margin: 10px 0 20px;
  font-size: 16px;
  font-weight: var(--T-weight-bold);
}

.app .b-Contents p {
  font-size: 14px;
  line-height: 23px;
}

.app .appDetail {
  font-size: var(--T-mainTitle-size);
  color: var(--C-appTitle);
  font-weight: var(--T-weight-bold);
  background-color: var(--C-BG);
  padding: 30px;
  border: 1px solid var(--C-appTitle);
  border-radius: 15px;
  transition: 0.3s;
}

.app .appDetail:hover {
  background-color: var(--C-appTitle);
  color: var(--C-white);
}

/* ----------------- popup notice portfolio*/

.notice_portfolio {
  position: fixed;
  left: -60%;
  top: 10%;
  width: 380px;
  height: 550px;
  padding: 30px;
  border: 3px solid #063d6c;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background: #f8f8f8;
  color: #454545;
  z-index: 1001;
}

.notice_portfolio strong {
  font-weight: 700;
}

.popup_logo {
  width: 117px;
  height: 53px;
  display: block;
  margin: 0 auto 40px;
}

#notice_tt {
  line-height: 1.2em;
  margin-bottom: 14px;
}

#notice_tt h2 {
  font-size: 15px;
  margin-bottom: 8px;
}

#notice_tt p {
  font-size: 13px;
}

.notice_portfolio h2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8em;
}

.notice_portfolio h3 {
  font-size: 13px;
  line-height: 1.8em;
}

.pages_link a {
  margin-right: 10px;
}

.fa-github {
  margin-left: 5px;
}

.underlined {
  text-decoration: underline;
  color: #102e47;
}

.popup_close {
  background: none;
  border: none;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #063d6c;
  cursor: pointer;
}

.cookie {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.cookie label {
  font-size: 12px;
  vertical-align: 3px;
}

#dont_see {
  cursor: pointer;
}
