@import url(./common.css);

/* 폰트사이즈는 나중에 반응형으로 수정하기 */

/* main */

/* -------------------video section */

main section {
  margin-bottom: 100px;
}
.main_items , .slideWrapper {
  margin-bottom:0;
}


main .videoContainer {
  
}

main .videoContainer > a::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

main .videoContainer video {
  width: 100%;
  height: 100vh;
  margin: auto 0;
  object-fit: cover;
}

/* ------------main_items section */
.titleImage img {
  width: 100%;

  object-fit: contain;
}
.itemsWrapper {
  justify-content: center;
  padding-left: 100px;
  box-sizing: border-box;
  /* 가운데는 아니지만 왼쪽에서 약간 떨어뜨리고싶은데 padding-left를 주는 것이 과연 정답일까? */
  /* align-items: center; */
  /* overflow: hidden; */
}
.itemsWrapper h2 {
  font-size: var(--T-mainTitle-size);
  line-height: var(--T-mainTitle-height);
  text-transform: uppercase;
  transition: 0.8s ease-in-out;
}
.itemsWrapper h3 {
  margin: 10px 0 30px 0;
  font-size: var(--T-sectionTitle-size);
  font-weight: var(--T-weight-bold);
  transition: 1s ease-in-out;
}

.itemsWrapper .items {
  width: calc(4 / 7 * 100%);
  flex-wrap: wrap;
  gap: 5%;
  transition: 1.2s ease-in-out;
}

.itemsWrapper h2,
.itemsWrapper h3,
.itemsWrapper .items {
  transform: translateY(100px);
  opacity: 0;
  visibility: hidden;
}

.itemsWrapper .items li {
  opacity: 0.7;
  width: 30%;
  margin-bottom: 5%;
  font-size: 80%;
}
.itemsWrapper .items li:hover {
  opacity: 1;
}

.itemsWrapper .items a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemsWrapper .items img {
  width: 100%;
  /* height: auto; */
}
/* -----------------------slide section */

.slideWrapper {
  width: 100%;
  position: relative;
  padding: 100px 0;
  background: url('../images/slideBG.png') no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.slideContainer {
  display: flex;
}
.slideContainer > li {
  opacity: .7;
  flex-shrink: 0;
  transition: .3s;
}
.slideContainer > li:hover {
  opacity: 1;
}
.slideContainer li a {
  /* display: block; */
}
.slideContainer > li img {
  width: 100%;
}

.slideControl span{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  font-size: calc(var(--T-mainTitle-size) * 3);
  font-weight:100;
  color: var(--C-white);
  text-shadow: 2px 2px 3px #000;
  z-index: 1;
}
.slideControl span:hover{
  cursor: pointer;
  color: var(--C-footerDesc)
}

.slideControl .nextBtn span{
  right:0;
}


/* ----------------------------secondary_items section */
.secondary_items {
  position: relative;
  width: 100%;
  height: auto;

  /* overflow: hidden; */
}
.secondary_items img {
  width: 100%;
  /* height: auto; */
  /* object-fit: cover; */
}

.secondary_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--C-white);
}
.secondary_title h2 {
  font-size: 64px;
  line-height: 103px;
  text-transform: uppercase;
}

.secondary_title p {
  /* font-family: "Roboto-Serif"; */
  font-size: 64px;
  text-transform: capitalize;
}

/* -------------------- magazine section */
.magazine .m-list {
  flex-wrap: wrap;
  /* gap: 5%; */
}
.magazine .m-list li {
  margin: 0 5%;
  width: 40%;
  height: auto;
}
.magazine .m-list figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.magazine .m-list figcaption {
  display: inline-block;
}

.magazine .m-list img {
  width: 100%;
}

.magazine .m-cover {
  width: calc(0.5 * 0.95 * 100%);
  text-align: center;
}

.magazine .m-cover h2 img {
  width: 30%;
}

.magazine .m-cover > img {
  width: 100%;
  margin-top: 3%;
}
.magazine .m-cover h3 {
  /* font-family: "Libre Baskerville"; */
  font-size: 26px;
  line-height: 42px;
  text-transform: capitalize;
}
.m-cover p {
  font-size: var(--T-magazine-size);
}

/* --------------------app section */
.app {
  margin: 0 auto 100px;
}

.app .textContainer {
  color: var(--C-appTitle);
  /* width: 30%; */
  /* transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: 2s; */
}
.app .textContainer h2 {
  font-size: 73px;
  font-weight: var(--T-weight-bold);
  text-transform: capitalize;
  margin-bottom: 30px;
  transition: 1s ease-in-out;
}
.app .textContainer h3 {
  width: 410px;
  font-size: 26px;
  font-weight: var(--T-weight-bold);
  line-height: 42px;
  transition: 1.2s ease-in-out;
}

.app .t-Contents img {
  max-width: 557px;
  /* width: 557px; */
  width: 50%;
  /* margin-left: 93px; */
}

.app .b-Contents {
  margin-top: 30px;
  gap: 50px;
  text-align: center;
}
.app .b-Contents img {
  width: 100%;
}

.app .b-Contents h4 {
  margin: 10px 0 20px;
  font-size: 16px;
  font-weight: var(--T-weight-bold);
}

.app .b-Contents p {
  font-size: 14px;
  line-height: 23px;
}
